section(class='mdl-layout__tab-panel  is-active', id='caseList')
    div(class='mdl-card__title')
        h2(class='mdl-card__title-text')
    div(class='mdl-card__actions mdl-card--border')
        table(id='reviewCase', class='table table-hover', style='width:90%')
            thead(style='background: #eee')
                tr
                    th(class='mdl-data-table__cell') FamilyID
                    th(class='mdl-data-table__cell', title='External ID of the family') Interpretation Request Id
                    th(class='mdl-data-table__cell--non-numeric') CIP REPLIED
                    th(class='mdl-data-table__cell--non-numeric') GEL REQUEST
                    th(class='mdl-data-table__cell--non-numeric')  Elapsed Time (Days)
                    th(class='mdl-data-table__cell')  Version
            tbody