doctype
html
  head
    meta(charset="utf-8")
    meta(name="description" content="API to View")
    title Review Families
    include styles
  body
    include header
    include menu
    include tables/reviewTable