doctype
html
  head
    meta(charset="utf-8")
    meta(name="description" content="API to View")
    title Archive
    include styles
  body
    include assets/header
    include assets/menu
    include tables/archiveTable
    script(data-main='/static/lib/require/archiveRequire', src='/static/lib/external/require.js')
