link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
link(rel='stylesheet', href='/static/css/wideCard.css')
link(rel='stylesheet', href='/static/css/material.css')
link(rel='stylesheet', href='/static/css/mdl-jquery-modal-dialog.css')
link(rel='stylesheet', href='/static/css/styleForParticipantView.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet', href='/static/css/material.css')
link(rel='stylesheet', href='/static/css/mdl-jquery-modal-dialog.css')
link(rel='stylesheet', href='/static/css/additionalMDL.css')
