header(class='mdl-layout__header')
    div(class='mdl-layout__header-row')
        img(src='/static/img/gelLogoScaled.png', style='position: absolute;right: 20px;top: 5px')
        span(class='mdl-layout-title mdl-menu__item--full-bleed-divider') QC Portal
            div(class='mdl-layout-spacer')
