div(class='mdl-layout mdl-js-layout mdl-layout--header--scroll', id='mainPage')
    ul(class='nav nav-pills')
     li(role='presentation')
        a(href='family' class='active') Review cases
     li(role='presentation')
        a(href='staging') Staging area
     li(role='presentation')
        a(href='archive') Archive
